@keyframes rotating {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

@keyframes wobble{
from  {  transform: rotate(-10deg);  }
to  {  transform: rotate(10deg);  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

button {
  font-size: 2em;
  border: none;
  background: white;
  padding: 20px;
  color: rgb(138, 138, 138);
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
  border-color: cyan;
}

.spinning
{
animation: rotating 0.5s linear infinite;
}

.wobble
{
animation: wobble 3s linear 0s infinite alternate;
}

/* for demo, upscale error dialog */
iframe {
  transform: scale(1.5);
  transform-origin: top;
}