body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  font-size: 3em;
  border-radius: 10px;
  border: 4px white;
  background: black;
  padding: 20px;
  color: white;
  margin-right: 10px;
}

button:hover {
    border-color: cyan;
}